<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.minnick.uitestsampleapp" android:versionName="4.0.0" android:versionCode="13" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="UITestSampleApp">
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
</manifest>